<a routerLink="/home">Home</a>
<a [routerLink]="['/form']">Form</a>
<router-outlet></router-outlet>

<!--
<a [routerLink]="['/user', userId]">User Profile</a>
<a [routerLink]="['/search']" [queryParams]="{ keyword: searchKeyword }">Search</a>
-->


<h1 class="text-center" >
  Reactive Form Builder
</h1>

<app-reactive-form-builder></app-reactive-form-builder>
<hr/>
<br><br><br><br><br>
<br><br><br><br><br>

<h1 class="text-center" >
  Reactive Form Group
</h1>

<app-reactive-form></app-reactive-form>
<hr/>
<br><br><br><br><br>
<br><br><br><br><br>
<h1 class="text-center">Template Form</h1>
<app-user-list></app-user-list>
<hr/>
<app-navbar></app-navbar>
<app-post [dataFromParent]="dataForChild" ></app-post>
<h1>View Child</h1>
<p>{{dataFromViewChild | json}}</p>
<hr/>
<app-post-view-form></app-post-view-form>
